.wrapper {
  width: 1226px;
  margin: 0 auto;
}

input{
  outline: none;
  box-sizing: border-box;
  font-size: $fontJ;

}

.fl{
  float: left;
}

.fr{
  float: right;
}

.clearfix::before,.clearfix::after{
  content: ' ';
  display: table;

}
.clearfix::after{
  clear: both;
}