
.modal-container{
  @include position(fixed);
  z-index: 50; 
  .mask{
    @include position(fixed);
    background-color: rgba(0, 0, 0, .5);
  }
  .dialog{
    @include position(absolute,40%,50%,660px,auto);
    transform: translate(-50%,-50%);
    background-color: $colorG;
    .modal-header{
      height: 60px;
      line-height: 60px;
      background-color: $colorJ;
      padding: 0 25px;
      font-size: $fontI;
      .icon-close{
        @include iconImg(absolute,23px,25px,14px,14px,'/public/imgs/icon-close.png');
        transition: transform .3s;
        cursor: pointer;
        &:hover {
          transform: scale(1.5);
        }
        
      }
    }
    .modal-body{
      padding: 42px 40px 54px;
      font-size: 14px;
    }
    .modal-footer{
      height: 82px;
      line-height: 82px;
      text-align: center;
      background-color: $colorJ;
    }
  }
}
